In [43]:
import pandas as pd
import numpy as np


#un_filtered dataset
df = pd.read_csv("msamd_14454.csv", low_memory=False)
action_taken = df[['action_taken','state_code', 'census_tract']]
# action_taken.head()
# df.head()

#the new dataset new_df when actions_taken = 1; when actions_taken = 1, it means we only focus on the loan origionated. 
new_df = pd.read_csv("msamd_14454_actions_taken_1.csv", low_memory=False)
# new_df['action_taken']

new_df.head()
# print(new_df.columns.values.tolist())
# loan_application_record = new_df[['state_code','county_code','derived_msa-md','census_tract','action_taken','loan_amount','total_loan_costs']]
# loan_application_record['census_tract'] = loan_application_record['census_tract'].astype(float)
# loan_application_record['loan_amount'] = loan_application_record['loan_amount'].astype(float)
#Problem occurs: loan_amount fails to be collected together for each census tract, but 
#groupby() is doing its work. 
# mean = loan_application_record.groupby('census_tract')['loan_amount'].mean()
# mean

# average load for sullfolk county(25025.0) is 577590.272660
# avg_loan_ma = loan_application_record.groupby('county_code')['loan_amount'].mean()
# avg_loan_ma
# loan_application_record.tail(100)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,B4TYDEB6GKMZO031MB27,14454,MA,25025.0,2.502502e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4416,5.77,113700,238,1175,906,76
1,2021,B4TYDEB6GKMZO031MB27,14454,MA,25025.0,2.502502e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4416,5.77,113700,238,1175,906,76
2,2021,549300DAUXQ2DCY4H838,14454,MA,25023.0,2.502350e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5168,1.39,113700,142,1664,1776,46
3,2021,549300DAUXQ2DCY4H838,14454,MA,25021.0,2.502142e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,8281,2.21,113700,162,2293,3125,58
4,2021,TKT6FH38184ZYBTPKS77,14454,MA,25021.0,2.502140e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4596,21.89,113700,222,1301,1554,76

In [56]:
#filtered data: action_taken =1(when actions_taken = 1, it means we only focus on the loan origionated), only at sufflok county

df_boston = pd.read_csv("origional_data_actions_taken_1_suffolk_county_25025.csv", low_memory=False)
# print(df_boston.columns.values.tolist())
df_boston.head()



# print(df_boston.columns.values.tolist())
loan_application_record = df_boston[['state_code','county_code','derived_msa-md','census_tract','action_taken','loan_amount','total_loan_costs']]
loan_application_record['census_tract'] = loan_application_record['census_tract'].astype(int)
loan_application_record['loan_amount'] = loan_application_record['loan_amount'].astype(float)
loan_application_record.to_csv('loan_amount.csv')
# average loan_amount for each census tract
mean = loan_application_record.groupby('census_tract')['loan_amount'].mean()
mean.to_csv('avg_loan_each_census_tract.csv')
# mean

/var/folders/yy/pdmswf251qs2tdymzfxsjbj40000gn/T/ipykernel_1931/608174162.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_application_record['census_tract'] = loan_application_record['census_tract'].astype(int)
/var/folders/yy/pdmswf251qs2tdymzfxsjbj40000gn/T/ipykernel_1931/608174162.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_application_record['loan_amount'] = loan_application_record['loan_amount'].astype(float)

In [42]:
loan_application_record.tail(100)

,state_code,county_code,derived_msa-md,census_tract,action_taken,loan_amount,total_loan_costs
27040,MA,25025,14454,2.502504e+10,1,985000.0,3926.45
27041,MA,25025,14454,2.502506e+10,1,985000.0,NaN
27042,MA,25025,14454,2.502500e+10,1,985000.0,4106.7
27043,MA,25025,14454,2.502500e+10,1,985000.0,5132.8
27044,MA,25025,14454,2.502504e+10,1,985000.0,Exempt
...,...,...,...,...,...,...,...
27135,MA,25025,14454,2.502509e+10,1,995000.0,24453.86
27136,MA,25025,14454,2.502513e+10,1,995000.0,NaN
27137,MA,25025,14454,2.502509e+10,1,995000.0,3037.5
27138,MA,25025,14454,2.502509e+10,1,995000.0,NaN
27139,MA,25025,14454,2.502501e+10,1,995000.0,NaN

In [57]:
# average load for sullfolk county(25025.0) is 577590.272660
avg_loan_ma = loan_application_record.groupby('county_code')['loan_amount'].mean()
avg_loan_ma
# loan_application_record.tail(100)
avg_loan_ma.to_csv('avg_loan_sufflok_county.csv')