# **Fair Housing Project 2022 Draft**

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-paper')
#import seaborn as sns; sns.set()

from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error
import math

#this will mute errors that make your final pdf less legible
import warnings
warnings.filterwarnings('ignore')

from google.colab import drive
from google.colab import files
drive.mount('/content/drive')
!cp /content/drive/MyDrive/fy2022pa-4.csv .
!cp /content/drive/MyDrive/msamd_14454.csv .

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
prop_type = pd.read_csv('fy2022pa-4.csv')
prop_type.head(20)

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIPCODE,BLDG_SEQ,NUM_BLDGS,...,KITCHEN_STYLE2,KITCHEN_STYLE3,HEAT_TYPE,HEAT_FUEL,AC_TYPE,FIRE_PLACE,ORIENTATION,NUM_PARKING,PROP_VIEW,CORNER_UNIT
0,100001000,,100001000.0,104 A 104,PUTNAM ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,3,A - Average,NaN
1,100002000,,100002000.0,197,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,M - Modern,M - Modern,F - Forced Hot Air,NaN,C - Central AC,0,NaN,0,A - Average,NaN
2,100003000,,100003000.0,199,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,S - Space Heat,NaN,N - None,0,NaN,0,A - Average,NaN
3,100004000,,100004000.0,201,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
4,100005000,,100005000.0,203,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,NaN,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
5,100006000,,100006000.0,205 207,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,M - Modern,M - Modern,E - Electric,NaN,N - None,0,NaN,0,A - Average,NaN
6,100007000,,100007000.0,209 211,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
7,100008000,,100008000.0,213,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
8,100009000,,100009000.0,215,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,M - Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
9,100010000,,100010000.0,217,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,M - Modern,M - Modern,W - Ht Water/Steam,NaN,C - Central AC,0,NaN,0,A - Average,NaN
10,100011000,,100011000.0,219,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,M - Modern,NaN,F - Forced Hot Air,NaN,C - Central AC,0,NaN,0,A - Average,NaN
11,100012000,,100012000.0,221,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
12,100013000,,100013000.0,223,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
13,100014000,,100014000.0,225,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
14,100015000,,100015000.0,227,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,M - Modern,M - Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
15,100016000,,100016000.0,235,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,S - Semi-Modern,NaN,W - Ht Water/Steam,NaN,N - None,0,NaN,10,A - Average,NaN
16,100017000,,100017000.0,237,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,N - No Remodeling,N - No Remodeling,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
17,100018000,0100018000,100018000.0,239,LEXINGTON ST,NaN,EAST BOSTON,2128,1.0,1,...,NaN,NaN,F - Forced Hot Air,NaN,C - Central AC,0,NaN,0,A - Average,NaN
18,100018002,0100018000,100018000.0,239,LEXINGTON ST,1,EAST BOSTON,2128,1.0,1,...,NaN,NaN,F - Forced Hot Air,I - Indiv. Cntrl,C - Central AC,1,T - Through,0,A - Average,N - No
19,100018004,0100018000,100018000.0,239,LEXINGTON ST,2,EAST BOSTON,2128,1.0,1,...,NaN,NaN,F - Forced Hot Air,I - Indiv. Cntrl,C - Central AC,1,T - Through,0,A - Average,N - No

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
data1 = pd.read_csv('msamd_14454.csv')
data1.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2021,549300DAUXQ2DCY4H838,14454,MA,25021.0,2.502140e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4448,31.27,113700,91,1016,1519,72
1,2021,549300DAUXQ2DCY4H838,14454,MA,25021.0,2.502140e+10,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4230,7.78,113700,179,1228,1394,60
2,2021,549300DAUXQ2DCY4H838,14454,MA,25023.0,2.502350e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7312,2.95,113700,132,2099,2345,43
3,2021,549300DAUXQ2DCY4H838,14454,MA,25023.0,2.502351e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2380,77.98,113700,18,16,343,51
4,2021,549300DAUXQ2DCY4H838,14454,MA,25025.0,2.502513e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5399,69.98,113700,54,568,1437,48

In [38]:
print(len(data1[data1['loan_purpose']==1]))

42655

In [8]:
# Number of Loans
count = 0
for i in range(data1.shape[0]):
  if pd.isna(data1.loc[i,'loan_purpose']) == False:
    count += 1
print(count)

165342

In [39]:
# Sum of Loans
sum = 0
for i in range(data1.shape[0]):
  if pd.isna(data1.loc[i,'loan_purpose']) == False:
    sum += data1.loc[i,'loan_amount']
print(sum)

72103510000.0

In [28]:
data1['loan_type'].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_type, dtype: int64

In [42]:
tract_list = []
for i in range(data1.shape[0]):
  if data1.loc[i,'census_tract'] not in tract_list:
    tract_list.append(data1.loc[i,'census_tract'])

print(tract_list)
print(len(tract_list))

[25021402102.0, 25021403300.0, 25023503101.0, 25023510900.0, 25025130406.0, 25025110501.0, 25021420301.0, 25023510200.0, 25021442102.0, 25023504101.0, 25021403500.0, 25025040801.0, 25023505200.0, 25023530801.0, 25023542300.0, 25023510400.0, 25023510700.0, 25025140102.0, 25023540103.0, 25023542200.0, 25025120400.0, 25023511100.0, 25021416101.0, 25023520100.0, 25023505102.0, 25023510800.0, 25023502101.0, 25023544100.0, 25021411200.0, 25025082000.0, 25021420302.0, 25021413401.0, 25021414300.0, 25023511000.0, 25023511600.0, 25021415102.0, 25021402300.0, 25023526100.0, 25023511701.0, 25023510100.0, 25021421200.0, 25023503102.0, 25021456101.0, 25023504102.0, 25023510600.0, 25023525204.0, 25023511200.0, 25023521101.0, 25025170300.0, 25021402400.0, 25025020301.0, 25021411301.0, 25023521102.0, 25023506203.0, 25021404302.0, 25021420100.0, 25021419700.0, 25023524101.0, 25021456402.0, 25023506102.0, 25021412300.0, 25021412100.0, 25021423100.0, 25023525101.0, 25021402500.0, 25021406101.0, 25021413500.0, 25023561100.0, 25025120600.0, 25023525104.0, 25023508101.0, 25021400500.0, 25023510501.0, 25025110502.0, 25023542101.0, 25023511702.0, 25021417502.0, 25021422700.0, 25023523202.0, 25021401100.0, 25025060101.0, 25025060501.0, 25021417300.0, 25025180200.0, 25023501101.0, 25023511400.0, 25021420202.0, 25021408102.0, 25021422302.0, 25021441204.0, 25025010204.0, 25023542102.0, 25023530802.0, 25021440100.0, 25023540101.0, 25021418003.0, 25023525203.0, 25023520202.0, 25023523201.0, 25021417100.0, 25021401200.0, 25025060400.0, 25025140201.0, 25021415101.0, 25021417801.0, 25021410100.0, 25023500103.0, 25025170501.0, 25025100700.0, 25023510300.0, 25023511301.0, 25021410300.0, 25025061200.0, 25025050300.0, 25023541100.0, 25025180400.0, 25021407100.0, 25023524102.0, 25023544200.0, 25021422501.0, 25021418200.0, 25025110601.0, 25021443102.0, 25023509101.0, 25023523100.0, 25021419100.0, 25025140202.0, 25023510502.0, 25021419400.0, 25025130300.0, 25021416400.0, 25023510503.0, 25023511500.0, 25025092101.0, 25023530200.0, 25025071101.0, 25021442103.0, 25025060200.0, 25021419300.0, 25021417902.0, 25023511302.0, 25023507103.0, 25023560100.0, 25023530100.0, 25021402200.0, 25021404400.0, 25023545100.0, 25025000302.0, 25021419500.0, 25025080300.0, 25023508200.0, 25021415200.0, 25023545300.0, 25021409101.0, 25021411100.0, 25025061000.0, 25023540102.0, 25023530700.0, 25021414200.0, 25023520201.0, 25021412200.0, 25021403400.0, 25021400100.0, 25025100601.0, 25025010802.0, 25021456302.0, 25025040600.0, 25025170800.0, 25021403100.0, 25025020303.0, 25025110403.0, 25021415300.0, 25021414100.0, 25023521201.0, 25021456301.0, 25021456102.0, 25023530901.0, 25023530500.0, 25023522101.0, 25023530600.0, 25023530300.0, 25021456200.0, 25023502102.0, 25021443101.0, 25021422800.0, 25021400400.0, 25021421100.0, 25021413300.0, 25023509102.0, 25021416102.0, 25021419600.0, 25023500104.0, 25021419200.0, 25021404301.0, 25021405100.0, 25021404100.0, 25023521202.0, 25021422200.0, 25025100800.0, 25021413100.0, 25021418004.0, 25021402101.0, 25023530902.0, 25021419800.0, 25021441203.0, 25023501102.0, 25023505101.0, 25025100500.0, 25023545200.0, 25021442201.0, 25021442202.0, 25025110607.0, 25021416300.0, 25023506204.0, 25021422100.0, 25021411302.0, 25025060301.0, 25021417601.0, 25021422400.0, 25021422502.0, 25023522102.0, 25023545400.0, 25025030500.0, 25023508102.0, 25023507101.0, 25023506202.0, 25021417901.0, 25021422600.0, 25021406102.0, 25021400300.0, 25025101001.0, 25021457200.0, 25025070300.0, 25025120201.0, 25023543100.0, 25021441202.0, 25025170702.0, 25021410400.0, 25023501201.0, 25025140300.0, 25023530400.0, 25025120105.0, 25025070900.0, 25021417501.0, 25021422301.0, 25021417400.0, 25021413200.0, 25025050200.0, 25025000502.0, 25025100300.0, 25021457100.0, 25025120301.0, 25025130402.0, 25025030300.0, 25021404202.0, 25021456401.0, 25025140106.0, 25025020302.0, 25021417702.0, 25021416200.0, 25023501202.0, 25021442101.0, 25023506101.0, 25025170100.0, 25025050901.0, 25025170200.0, 25023561200.0, 25025051200.0, 25025081100.0, 25021417200.0, 25025051000.0, 25021400800.0, 25025180101.0, 25023502200.0, 25025130404.0, 25023500101.0, 25021418002.0, 25021417602.0, 25025140400.0, 25025020200.0, 25025060600.0, 25025040401.0, 25025050400.0, 25021413402.0, 25025160502.0, 25025100900.0, 25025130100.0, 25025060800.0, 25025091600.0, 25025160300.0, 25025000602.0, 25021408101.0, 25025160601.0, 25025081900.0, 25025110103.0, 25025170502.0, 25025010701.0, 25025090700.0, 25025180301.0, 25025050600.0, 25025120103.0, 25021404201.0, 25021420201.0, 25025010500.0, 25021418101.0, 25025160602.0, 25025000704.0, 25025000401.0, 25025070200.0, 25021400200.0, 25025070402.0, 25021417701.0, 25025000802.0, 25025110401.0, 25021400600.0, 25025071201.0, 25025090100.0, 25025170701.0, 25025051101.0, 25025180500.0, 25025081400.0, 25025120700.0, 25025100100.0, 25025100200.0, 25021409102.0, 25025130200.0, 25025080401.0, 25023507104.0, 25025000100.0, 25025081300.0, 25025092400.0, 25025101101.0, 25025000601.0, 25025081800.0, 25025081700.0, 25025000202.0, 25021418102.0, 25021400700.0, 25025101102.0, 25025091700.0, 25025100400.0, 25025000301.0, 25025140107.0, 25025050101.0, 25025070500.0, 25025101002.0, 25025092200.0, 25025000201.0, 25025090300.0, 25025091300.0, 25025092300.0, 25025000402.0, 25025140105.0, 25025110201.0, 25025070101.0, 25025170601.0, 25025170400.0, 25025082100.0, 25025030400.0, 25025010801.0, 25025100603.0, 25025092000.0, 25025091800.0, 25025120104.0, 25025000503.0, 25025081500.0, 25025020101.0, 25025091900.0, 25025110301.0, 25025070600.0, 25025040300.0, 25025091100.0, 25025120500.0, 25025080900.0, 25025091500.0, 25025091200.0, 25021400900.0, 25025981100.0, 25025080100.0, 25025030100.0, 25025091001.0, 25025050700.0, 25025000703.0, 25025000504.0, 25025000701.0, 25025160101.0, 25025040100.0, 25021417802.0, 25025010702.0, 25025090400.0, 25025010104.0, 25025090600.0, 25025160501.0, 25025030200.0, 25025010404.0, 25025010408.0, 25021401000.0, 25025160200.0, 25025081200.0, 25025070800.0, 25025981300.0, 25025091400.0, 25025090200.0, 25025081001.0, 25025070700.0, 25025061101.0, 25025050500.0, 25025010103.0, 25025010203.0, 25025010403.0, 25025080500.0, 25025010600.0, 25025080601.0, 25025010405.0, 25025040200.0, 25025160400.0, 25023525300.0, 25025981800.0, 25025080801.0, 25025090901.0, 25025981202.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 25025010300.0, nan, nan, nan, nan, nan, nan, nan, nan, 25025981502.0, 25025981700.0, nan, nan, nan, nan, nan, 25025980700.0]
451

In [ ]:
ans = []
for i in range(len(tract_list)):
  ans.append([0,0,0,0])

for i in range(len(tract_list)):
  for j in range(4):
    ans[i][j] = len(data1[(data1['census_tract'] == str(tract_list[i])) & (data1['loan_type'] == str(j+1))])


for i in range(len(tract_list)):
  if pd.isna(tract_list[i]):
    continue
  else:
    x = int(tract_list[i])
    print(x)
    print(str(ans[i][0])+' '+str(ans[i][1])+' '+str(ans[i][2])+' '+str(ans[i][3]))

In [44]:
loan_list = []
for i in range(len(tract_list)):
  loan_list.append(0)

for i in range(len(tract_list)):
  loan_list[i] = int(data1.loc[data1['census_tract'] == tract_list[i], 'loan_amount'].sum())

print(loan_list)
summ = 0
for i in range(len(loan_list)):
  summ += loan_list[i]
print(summ)

[157875000, 375440000, 371080000, 45765000, 77695000, 140815000, 223680000, 223900000, 252260000, 279855000, 392780000, 154720000, 473275000, 219820000, 165270000, 79845000, 180770000, 161650000, 154330000, 177990000, 259665000, 175530000, 380605000, 204640000, 286350000, 159500000, 152940000, 189430000, 295725000, 56100000, 222115000, 107575000, 202475000, 83195000, 199935000, 322785000, 203140000, 237355000, 170735000, 169445000, 182205000, 309170000, 172825000, 355375000, 112710000, 162310000, 119835000, 175260000, 239935000, 241585000, 15140000, 264560000, 105075000, 184325000, 251525000, 213030000, 168430000, 129870000, 190100000, 245760000, 302250000, 406955000, 684680000, 193875000, 183845000, 295835000, 95070000, 255155000, 84755000, 228235000, 253610000, 206805000, 98740000, 152565000, 242065000, 78035000, 87290000, 138445000, 261330000, 463480000, 263130000, 479250000, 99045000, 139485000, 224280000, 104355000, 139095000, 145625000, 210485000, 226440000, 34055000, 89755000, 201795000, 265185000, 168985000, 49355000, 137675000, 166150000, 84785000, 121325000, 488360000, 355805000, 66130000, 215290000, 207685000, 241280000, 95760000, 101050000, 196915000, 84855000, 160100000, 160200000, 468275000, 167025000, 202900000, 69045000, 358750000, 128665000, 177600000, 165960000, 199205000, 131740000, 313445000, 311585000, 89155000, 201130000, 190545000, 80670000, 92510000, 209725000, 300610000, 54650000, 123125000, 235240000, 126805000, 181125000, 267725000, 129675000, 97840000, 93030000, 89720000, 346890000, 263380000, 113170000, 85815000, 335810000, 207315000, 81205000, 137265000, 31430000, 257935000, 277850000, 135365000, 210910000, 284480000, 95850000, 93415000, 286735000, 353950000, 132825000, 278035000, 488150000, 293795000, 174645000, 198920000, 120525000, 239325000, 157545000, 563445000, 79445000, 170930000, 259880000, 235245000, 99725000, 37955000, 150895000, 457010000, 180445000, 143240000, 290535000, 136435000, 152470000, 162310000, 207525000, 144550000, 288440000, 145155000, 149730000, 225215000, 195540000, 244800000, 158560000, 168905000, 477485000, 529035000, 282050000, 124435000, 264420000, 205345000, 186535000, 96585000, 140795000, 186410000, 123005000, 135095000, 626335000, 442725000, 172600000, 198835000, 203965000, 249130000, 223390000, 276780000, 212605000, 172260000, 151395000, 230005000, 107175000, 207310000, 117225000, 194750000, 167445000, 142680000, 174355000, 256460000, 101260000, 136175000, 233870000, 406380000, 224025000, 144360000, 402220000, 324105000, 179915000, 107190000, 154995000, 106100000, 190380000, 281880000, 169675000, 205045000, 147795000, 163435000, 105750000, 103710000, 140500000, 161995000, 121150000, 34660000, 86885000, 146995000, 211125000, 184995000, 193735000, 254500000, 84645000, 15680000, 106175000, 90855000, 330185000, 431245000, 192480000, 330195000, 247760000, 123815000, 152630000, 17785000, 204195000, 71680000, 198030000, 117520000, 191220000, 135460000, 154420000, 112375000, 165620000, 156360000, 115175000, 193055000, 219600000, 513925000, 156530000, 127055000, 104690000, 154835000, 154355000, 248960000, 376035000, 67190000, 63230000, 33050000, 297275000, 101105000, 67230000, 197365000, 83390000, 134120000, 164440000, 139405000, 87110000, 76355000, 410270000, 99360000, 114585000, 124120000, 102195000, 55425000, 79465000, 59370000, 204050000, 199910000, 159120000, 195365000, 104435000, 351085000, 120885000, 89605000, 64785000, 154155000, 156355000, 97895000, 87465000, 128690000, 67590000, 285490000, 211530000, 58580000, 326450000, 233220000, 42180000, 87485000, 66650000, 106310000, 77005000, 75735000, 92905000, 100770000, 207685000, 85260000, 86590000, 110305000, 88575000, 83165000, 118040000, 353190000, 73945000, 115790000, 82960000, 52440000, 41865000, 80800000, 106115000, 105705000, 45010000, 356750000, 139905000, 160275000, 55020000, 106185000, 216260000, 158725000, 110815000, 73980000, 90195000, 33275000, 59335000, 383595000, 78890000, 120555000, 282260000, 367405000, 164375000, 85985000, 72185000, 124255000, 97325000, 112950000, 6185000, 63255000, 64995000, 193880000, 127355000, 21660000, 76980000, 80335000, 105495000, 187825000, 36585000, 264250000, 68555000, 132305000, 39020000, 93885000, 56805000, 50725000, 12150000, 154120000, 45285000, 34215000, 201740000, 33330000, 51445000, 30860000, 64255000, 136365000, 5910000, 37040000, 1730000, 43885000, 60760000, 17640000, 133195000, 22905000, 34240000, 79020000, 50855000, 985000, 1180000, 15495000, 485000, 2300000, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5280000, 0, 0, 0, 0, 0, 0, 0, 0, 265000, 720000, 0, 0, 0, 0, 0, 785000]
72088380000

In [34]:
!cp /content/drive/MyDrive/income-restricted-inventory-2021.csv .
df2 = pd.read_csv('income-restricted-inventory-2021.csv')
df2.describe()

,Zip Code,TtlProjUnits,RentUnits,OwnUnits,TtlMarket,MarketRent,MarketOwn,Total Income-Restricted,Income-Restricted Rental,Income-Restricted Ownership
count,1442.000000,1445.000000,1445.000000,1445.000000,1444.000000,1444.000000,1444.000000,1445.000000,1445.000000,1444.000000
mean,2125.432039,59.560554,50.979239,8.581315,20.247230,13.674515,6.572715,39.321107,37.319031,2.003463
std,13.627488,102.308222,100.132590,29.216307,63.463419,55.704068,27.671639,81.572228,82.166087,5.679777
min,2108.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2119.000000,5.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000
50%,2124.000000,23.000000,10.000000,0.000000,0.000000,0.000000,0.000000,10.000000,6.000000,0.000000
75%,2128.000000,66.000000,57.000000,1.000000,13.000000,0.000000,0.000000,42.000000,41.000000,1.000000
max,2215.000000,1100.000000,1100.000000,480.000000,736.000000,736.000000,479.000000,1100.000000,1100.000000,91.000000